{% extends 'ledger/base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Daily Transactions</title>
  </head>
  <body>
    <h1>records as per date selected</h1>

    <form method="POST">
      {% csrf_token %}
    From :<input type="date" name="fromdate"/>
    To :<input type="date" name="todate"/>
    <input type="submit" value="Search"/>

    <table class="table table-sm">

      <tr>
        <th>Dealer</th>
        <th>Date</th>
        <th>Particulars</th>
        <th>Invoice</th>
        <th>Mode</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Dr/Cr</th>
        <th>Balance</th>
      </tr>

      {% for ledger in ledgers %}
      <tr>
        <td>{{ ledger.dealer }}</td>
        <td>{{ ledger.date|date:"d M Y" }}  {{ ledger.date|time:"h:i A" }}</td>
        <td>{{ ledger.particulars }}</td>
        <td>{{ ledger.invoice }}</td>
        <td>{{ ledger.paymode }}</td>
        <td>{{ ledger.debit }}</td>
        <td>{{ ledger.credit }}</td>
        <td>{{ ledger.dr_cr }}</td>
        <td>{{ ledger.balance }}</td>
      </tr>
      {% endfor %}

      </table>
      </form>
  </body>
</html>


{% endblock %}
