{% extends 'ledger/base.html' %}
{% block content %}

<div class="row">
  <div class ="col">
    <div class="card card-body">
      <form method="get">

      <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<br>


<div class="row">
  <div class="col-md-2">
    <hr>
    <div class="card card-body">

      <table class="table table-sm">

        <tr>
          <th>Dealer</th>
        </tr>

        <tr>
          <th>{{ dealer.name }}</th>
        </tr>

        <tr>
          <th>{{ dealer.mob_num }}</th>
        </tr>

        <tr>
          <th>{{ dealer.address }}</th>
        </tr>

      </table>
    </div>
  </div>

    <div class="col-md-9">
      <h5>Last 15 Entries</h5>
      <hr>
      <div class="card card-body">
        <a class="btn btn-primary btn-sm btn-block" href="{% url 'ledger' dealer.id %}">Create Entry</a>
        <table class="table table-sm">
          <tr>
            <th>Date</th>
            <th>Particulars</th>
            <th>Invoice</th>
            <th>Mode</th>
            <th>Collected By</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Dr/Cr</th>
            <th>Balance</th>
          </tr>

          {% for ledger in orderedledger %}
          <tr>
            <td>{{ ledger.date }}</td>
            <td>{{ ledger.particulars }}</td>
            <td>{{ ledger.invoice }}</td>
            <td>{{ ledger.paymode }}</td>
            <td>{{ ledger.collect_by }}</td>
            <td>{{ ledger.debit }}</td>
            <td>{{ ledger.credit }}</td>
            <td>{{ ledger.dr_cr }}</td>
            <td>{{ ledger.new_balance }}</td>
          </tr>
          {% endfor %}

          </table>
        </div>
      </div>
    </div>

{% if orderedledger.has_previous %}
<a href="?page={{orderedledger.previous_page_number}}">Next Page</a>
{% endif %}
{% if orderedledger.has_next %}
<a href="?page={{orderedledger.next_page_number}}">Previous Page</a>
{% endif %}


{% endblock %}
