{% extends 'ledger/base.html' %}
{% block content %}

{{ message }}

{% for ledger in ledgers %}
<p>Dealer Name: {{ ledger.name }}</p> <p>Address: {{ ledger.address}}</p>
<table class="table table-sm">
  <tr>
    <th>Date</th>
    <th>Particulars</th>
    <th>Invoice</th>
    <th>Mode</th>
    <th>Collected By</th>
    <th>Debit</th>
    <th>Credit</th>
    <th>Dr/Cr</th>
    <th>Balance</th>
  </tr>

  {% for l in ledger.ledger %}
  <tr>
    <td>{{ l.date }}</td>
    <td>{{ l.particulars }}</td>
    <td>{{ l.invoice }}</td>
    <td>{{ l.paymode }}</td>
    <td>{{ l.collect_by }}</td>
    <td>{{ l.debit }}</td>
    <td>{{ l.credit }}</td>
    <td>{{ l.dr_cr }}</td>
    <td>{{ l.balance }}</td>
  </tr>
  {% endfor %}

</table>
{% endfor %}

{% csrf_token %}


{% endblock %}
